<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SMG</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.18.1/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.18.1/dist/bootstrap-vue-icons.min.js"></script>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
	<script src="https://unpkg.com/vue2-leaflet"></script>	
</head>
<body class="">
  <div id="app"></div>
  <script id="main" type="text/x-template">
    <div class="flex flex-col flex-1 h-screen">
      <div class="flex border-2 justify-between sm:flex-wrap">
        <h1>
          <a href="https://ccdt-at-cuvalley-kghm60.gitlab.io/smg-unfailure/">
            The SMG Unfailure Project <small>v0.1 beta</small>
          </a>
          <br/>
          <small>Projekt de-awariizacji samojezdnych maszyn górnicznych</small>
        </h1>
        <div>
          <a href="https://kghm.com" rel="noreferrer noopener" referrerpolicy="no-referrer">
            <img class="inline-img" src="img/kghm.svg" alt="logo KGHM"/>
          </a>
          <a href="https://cuvalley.com" rel="noreferrer noopener" referrerpolicy="no-referrer">
            <img class="inline-img-xl" src="img/cu.png" alt="logo CuValley"/>
          </a>
        </div>
        <div class="appendix">
          <button class="b1" @click="showAbout = true">O projekcie</button>
          <small>
            Linki:
            • <a href="https://cuvalley.com/analiza-danych-maszyn-smg">opis zadania</a>
            • <a href="https://challengerocket.com/cuvalley-hack/" title="Challenge Rocket">CR</a>
            • <a href="https://cutt.ly/cvh" title="Discord">discord</a>
            • omówienia zadania:
            <a href="https://vimeo.com/560825018/c4fbe92e71">PŚ</a>
            <a href="https://vimeo.com/560826499/8154f00d38">TJ</a>
            <a href="https://vimeo.com/560818258/4e6552351b">TK</a>
            • <a href="https://cuvalley.com/wp-content/uploads/2021/06/CVH_infromacje_organizacyjne.pdf">info org.</a>
            • <a href="https://www.youtube.com/watch?v=KvT69AsH3po">tv</a>
          </small>
          <button class="b1">Edytor bazy usterek</button>
          <a href="Prezentacja SMG Unfailure.pdf"><button class="b1">Prezentacja PDF</button></a>
          <button class="b1">Log in</button>
        </div>
      </div>
      <div class="main-container flex flex-1">
        <div class="border-2">
          <button class="b1" @click="view='smgs'">SMGs</button>
          <button class="b1" @click="view='dane'">Dane</button>
          <button class="b1">Ostrzeżenia</button>
          <div v-if="view === 'smgs'">
            <div v-for="s in smgs" class="border">
              <div>{{s.model}}/{{s.id}}</div>
              <div>{{s.lastUpdate}}</div>
              <div>gps: {{(s.lat.toFixed(5))}} {{(s.lng.toFixed(5))}}</div>
              <div>
                <span class="bg-red">ENGRPM</span>
                <span class="bg-yellow">ENGOILP</span>
                <span class="bg-red">ENGHOURS</span>
                <span class="bg-green">GROILP</span>
              </div>
              <div>
                <button class="b1" @click="view='dane'">Szczegóły</button>
                <button class="b1">Historia</button>
              </div>
            </div>
          </div>
          <div v-if="view === 'dane'">
            <div>Dane</div>
            <table>
              <tr>
                <td>ENGRPM</td>
                <td>2400</td>
                <td>ENGOILP</td>
                <td>12</td>
              </tr>
              <tr>
                <td>GROILP</td>
                <td>12</td>
                <td>GRPILT</td>
                <td>120</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="flex-1">
          <div class="navbar">
            <label class="map">
              <input type="checkbox" name="" v-model="showMap"/>
              mapa |
            </label>
            <label class="data">
              <input type="checkbox" name="" v-model="showChart"/>
              cykl pracy maszyn |
            </label>
            <label class="dashboard">
              <input type="checkbox" name="" v-model="showVis"/>
              panel danych ogólnych
            </label>
          </div>
          <div class="content h-full">
            <l-map v-if="1" ref="myMap" @ready="onReady()" :zoom.sync="zoom" :center.sync="center">
              <l-tile-layer
                :url="url"
                :attribution="attribution"
              />
              <!-- <l-marker :lat-lng="withPopup" :icon="icon"></l-marker> -->
              <!-- <l-marker :lat-lng="smgPos" :icon="icon"/> -->
              <l-marker :lat-lng="smgPos2" :icon="icon"/>
              <l-marker :lat-lng="smgPos3" :icon="icon"/>
            </l-map>
          </div>
        </div>
      </div>
      <div class="footer">by CCDT team
        <a href="https://gitlab.com/ccdt-at-cuvalley-kghm60">
          <img class="inline-img" src="img/CCDT.png" alt="Copper Celebration Day Team"/>
        </a>
      </div>
      <div v-if="showAbout" class="modal-about">
        <h1>Informacje o projekcie</h1>
        <p>
          Celem projektu jest analiza danych zebranch na ładowarko-koparkach (ŁK) oraz wozach odstawczych (WOS)
          w kopalniach <acronym title="Kombinat Górniczo-Hutniczy Miedzi Polska Miedź S.A.">KGHM</acronym>.
          Celem jest przeciwdziałanie usterkom opisanym w materiale wideo (patrz link <u>tv</u> w <u>materiały</u> 4m0s),
          które są kosztowne dla spółki (i muszą być wykonywane w trudnych warunkach).
        </p>
        <p>Nasz pomysł na realizację celu polega na zrozumieniu 
          <ul>
            <li>
              co może powodować usterki udokumentowane w dostarczonych plikach 
              <b>Awarie SMG.docx</b> (ujęte w prezentacji),
            </li>
            <li>
              określeniu współwystępujących zakresów wartości monitorowanych parametrów SMG (na zasadzie macierzy powiązanych wartości dwuwymiarowego histogramu),
            </li>
            <li>oraz przeciwdziałaniu usterkom poprzez alarmowanie kiedy </li>
          </ul>

          Zachęcamy do szerszego zapoznania się z naszym pomysłem po kliknięciu przycisku 
          <a href="Prezentacja SMG Unfailure.pdf"><button class="b1">Prezentacja PDF</button></a>
        </p>
        <button class="border" @click="showAbout = false">Zamknij</button>
      </div>
    </div>
  </script>

  <script>    
    Vue.component('l-map', Vue2Leaflet.LMap);
    Vue.component('l-tile-layer', Vue2Leaflet.LTileLayer);
    Vue.component('l-marker', Vue2Leaflet.LMarker);
    const icon = L.icon
    const latLng = L.latLng

    new Vue({
      components: {
        // 'l-map': Vue2Leaflet.LMap,
				// 'l-tile-layer': Vue2Leaflet.LTileLayer,
				// 'l-marker': Vue2Leaflet.LMarker,
      },
      el: '#app',
      template: '#main',
      data: () => ({
        view: 'smgs',
        showMap: true,
        showChart: false,
        showVis: false,
        showAbout: false,
        smgs: [
          {model: 'ŁK3', id: '43', lastUpdate: '2021-06-12 02:41:00+0100', lng: 0.0, lat: 0.0},
          {model: 'ŁK3', id: '45', lastUpdate: '2021-06-12 02:41:00+0100', lng: 0.0, lat: 0.0},
          // {model: 'ŁK3', id: '46', lastUpdate: '2021-06-12 02:41:00+0100', lng: 0.0, lat: 0.0},
        ],
        // map
        i: 0,
        // url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        // url: 'img/mapa.png',
        url: 'img/{z}/{x}/{y}.png',
        attribution:
          '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        withPopup: L.latLng(51.5111, 16.0711),
        center: L.latLng(51.52769241990577, 16.083366678494617),
        zoom: 13,

        // icon
        // https://vue2-leaflet.netlify.app/examples/custom-icons.html
        icon: icon({
          iconUrl: "img/LKP_0903.png",
          iconSize: [100 * 1.2, 24 * 1.2],
          iconAnchor: [16, 37]
        }),
        staticAnchor: [16, 37],
        customText: "Foobar",
        iconSize: 64,

        // smgs
        smgPos: undefined,
        smgPos2: undefined,
        smgPos3: undefined,
        smgPosOrigin: L.latLng(51.5111, 16.0711),
        smgPos2Origin: L.latLng(51.5141, 16.0725),
        smgPos3Origin: L.latLng(51.5171, 16.0714),
      }),
      computed: {
        dynamicSize() {
          return [this.iconSize, this.iconSize * 1.15];
        },
        dynamicAnchor() {
          return [this.iconSize / 2, this.iconSize * 1.15];
        },
      },
      watch: {
        center(v) {
          console.log('center', v)
        }
      },
			methods: {
				onReady() {
					this.map = this.$refs.myMap.mapObject
				},
			},
      created() {
        this.smgPos = this.smgPosOrigin
        this.smgPos2 = this.smgPos2Origin
        this.smgPos3 = this.smgPos3Origin
        const self = this
        function animate(id = 0, key = 'smgPos', origPos = 'smgPosOrigin', c = 20, dy = -0.04, dx = -0.04, dt = 50) {
          let t = 0
          let ddt = 1
          return setInterval(() => {
            if (t == c) {
              ddt = -1
            }
            if (t == 0) {
              ddt = 1
            }
            t += ddt
            // console.info('t=', t)
            self[key] = latLng(self[origPos].lat + t*dy/dt, self[origPos].lng + t*dx/dt)
            self.smgs[id] = Object.assign({}, self.smgs[id], {
              lat: self[key].lat,
              lng: self[key].lng,
            })
          }, 1000)
        }
        animate(0, 'smgPos', 'smgPosOrigin', 150, 0.00, -0.04)
        animate(1, 'smgPos2', 'smgPos2Origin', 130, 0, 0.03)
        // animate(2, 'smgPos3', 'smgPos3Origin', 120, -0.04, 0.04)
      },
    })
  </script>
</body>
</html>
