* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app button, .b1 {
  color: cadetblue;
  background: gainsboro;
  border: 1px solid black;
}

.inline-img {
  display: inline-block;
  max-height: 24px;
}

.inline-img-xl {
  display: inline-block;
  max-height: 48px;
}

.appendix a {
  text-decoration: underline;
}

.modal-about, .modal-smg-details {
  border: 3px solid gray;
  position: absolute;
  top: 40px;
  left: 40px;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  background: white;
  color: black;
  padding: 200px;
  z-index: 9999;
}

.border {
  padding: 2px;
}